# Planning
/plans/

# Build output
/build/
/tools/monomsg/build/
*.o
/mono
/tools/monomsg/monomsg
/protocols/generated/*-protocol.c
/protocols/generated/*-protocol.h
/tools/monomsg/include/*-protocol.c
/tools/monomsg/include/*-protocol.h

# Generated runtime files
*.log
